<section class="about">
  <div class="container">
    <app-section-title title="О нас" subtitle="Learn more about our story and passion for furniture"></app-section-title>
    <div class="about__content">
      <div class="about__text">
        <h3>Шоурум</h3>
        <p>ул. Федюнинского дом 43,
ТК «Орион», 1 уровень

ежедневно с 10:00 до 21:00</p>
        <p>+ 7 (3452) 60-15-94
+ 7 (929) 269-15-94</p>
      </div>
      <div class="showroom__map">
        <iframe
          src="https://yandex.ru/map-widget/v1/?ll=61.402554%2C55.160026&mode=search&text=Челябинск&z=12"
          width="100%"
          height="100%"
          frameborder="0">
        </iframe>
      </div>
    </div>
  </div>
</section>
