.hero {
  background-image: url('/img/sofa.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  min-height: 100vh;
  color: white;
  padding: 2rem 0 6rem;
  text-align: center;

  &__content {
    display: flex;
    justify-content: right;
    top: 5px;
    margin: 0 auto;
    align-items: center;
  }

  &__title {
    font-size: 40px;
    margin: 0 20% 1rem 0;
    font-weight: 700;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  &__subtitle {
    color: black;
    opacity: 0.9;
    font-size: 24px;
  }

  &__prise {
    font-size: 1.5rem;
    font-weight: 700;
    color: black;
    opacity: 0.9;
    background-color: var(--beckgrount-bt-grey);
    padding: 0.5rem 1rem;
    border-radius: 50px;
  }

  &__btn-calculate-cost {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15px;
  }
}

@media (max-width: 768px) {
  .hero {
    padding: 4rem 0 3rem;

    &__title {
      font-size: 2.5rem;
    }

    &__subtitle {
      font-size: 1.125rem;
    }
  }
}
