<footer class="footer">
  <div class="container">
    <div class="footer__content">
      <div class="footer__section">
        <h3>{{ 'FOOTER.TITLE' | translate }}</h3>
        <p>{{ 'FOOTER.DESCRIPTION' | translate }}</p>
      </div>
      <div class="footer__section">
        <h4>{{ 'FOOTER.CONTACT_TITLE' | translate }}</h4>
        <p>{{ 'HEADER.PHONE' | translate }}</p>
        <p>Email: info@furniturestore.com</p>
      </div>
      <div class="footer__section">
        <h4>{{ 'FOOTER.ADDRESS_TITLE' | translate }}</h4>
        <p>{{ 'FOOTER.ADDRESS_LINE1' | translate }}</p>
        <p>{{ 'FOOTER.ADDRESS_LINE2' | translate }}</p>
      </div>
    </div>
    <div class="footer__bottom">
      <p>{{ 'FOOTER.COPYRIGHT' | translate }}</p>
    </div>
  </div>
</footer>
